<%= form_with model: comment, url: [comment.commentable.project, comment.commentable, comment], local: true do |form| %>
  <div class="row">
    <div class="col-md-12">
      <%= form.text_area :comment, id: :story_comment, class: 'form-control' %>
      <p class="hint">
        Markdown sopported
      </p>
    </div>
  </div>

  <div class="d-flex">
    <%= form.submit class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
