<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title"> <%= account.name %> </div>
        <div class="card-options">
          <a class="btn btn-secondary btn-sm">Edit</a>
          <%= link_to 'Add Colaborator', new_account_user_invitation_path(account), class: 'btn btn-secondary btn-sm ml-3' %>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <%= render collection: account.projects, as: :project, partial: 'project' %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
