<tr>
  <td> <%= link_to project.name, project %> </td>
  <td style="width: 15%;"> <%= project.count_stories %> stories </td>
  <td style="width: 15%;"> <%= project.count_collaborators %> collaborators</td>
</tr>
