<div class="page-header">
  <h1 class="page-title">
    Edditing Account
  </h1>
</div>

<%= render 'form', company: @company %>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>
