<div class="page-header">
  <h1 class="page-title"> Accounts you Own </h1>
  <div class="page-options d-flex">
    <%= link_to 'New Account', new_account_path, class: 'btn btn-secondary' %>
  </div>
</div>

<%= render collection: @accounts_owned_by_me, as: :account, partial: 'accounts' %>

<div class="page-header">
  <h1 class="page-title"> Accounts you Belong </h1>
</div>

<%= render collection: @accounts, as: :account, partial: 'accounts' %>
