<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render collection: @companies, as: :company, partial: 'company' %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %> |
<%= link_to :dashboard, dashboard_path %>
