<div class="card">
  <div class="card-header">
      <div class="card-title">Comments</div>
  </div>
  <div class="card-body">
    <% comments.each do |comment| %>
      <div class="row">
        <div class="col-md-1"><%= comment.user_abbr %> says:</div>
        <div class="col-md-10">
          <%= markdown(comment.comment) %>
        </div>
        <div class="col-md-1">
          <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Options</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer text-right">
    <%= render 'admin/comments/form', comment: @story.comments.build %>
  </div>
</div>
