<% iterations.each do |iteration| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card Iteration">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="5">
                  <small><%= "#{iteration.start_date.strftime('%b %e')} - #{iteration.end_date.strftime('%b %e')}" %> - <%= "#{iteration.points_done} of #{iteration.total_points}" %> - Velocity <%= iteration.velocity %></small>
                </th>
              </tr>
            </thead>
            <tbody>
              <%= render collection: iteration.stories.order_by_weight, as: :story, partial: 'story' %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
