@import 'admin/scaffolds';

.btn-accept {
  @extend .btn-success
}

.btn-reject {
  @extend .btn-danger
}

.btn-finish {
  @extend .btn-primary
}

.btn-deliver {
  @extend .btn-warning
}

.btn-start {
  @extend .btn-secondary
}

.Iteration {
  .Iteration-collapsable-button {
    color: #9aa0ac;
    display: inline-block;
  }

  &.Iteration--over {
    table { border-bottom: 3px solid black; }
  }

  &.Iteration--collapsed {
    tbody { display: none; }
    .fa-caret-down:before { content: "\f0da"; }
  }

  .Story {
    &.Story--dragging { opacity: 0.4; }
    &.Story--draggable { cursor: move; }
    &.Story--over { border-bottom: 3px solid black; }

    .Story-title { color: #495057; }

    &.Story--release {
      @extend .Story--release
    }
  }
}

.Story--accepted {
  background-color: #C7D9B8;
}

.Iteration--done {
  background-color: #C7D9B8;
  .Iteration-title { color: black; }
  .Iteration-collapsable-button { color: black; }
}

.Story--release {
  background-color: #45aaf2;
  color: white;
  .Story-title, .Story-owner, .Story-label { color: white; }

  &.Story--rejected { background-color: #923030; }
}

.card-options {
  .btn-danger {
    .fa { color: white; }
  }
}
