@import 'admin/scaffolds';

.btn-accept {
  @extend .btn-success
}

.btn-reject {
  @extend .btn-danger
}

.btn-finish {
  @extend .btn-primary
}

.btn-deliver {
  @extend .btn-warning
}

.btn-start {
  @extend .btn-secondary
}

.Iteration {
  &.Iteration--over {
    table { border-bottom: 3px solid black; }
  }

  .Story {
    &.Story--dragging { opacity: 0.4; }
    &.Story--draggable { cursor: move; }
    &.Story--over { border-bottom: 3px solid black; }

    .Story-title { color: #495057; }

    &.Story--release {
      @extend .Story--release
    }
  }
}

.Story--accepted {
  background-color: #C7D9B8;
}

.Story--release {
  @extend .bg-info;
  color: white;
  .Story-title, .Story-owner { color: white; }
}

.card-options {
  .btn-danger {
    .fa { color: white; }
  }
}
